<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <jmxConfigurator/>

    <property name="layoutPattern" value="%p %d [%t - %X{deviceName} - %C{1}] %logger{36}.%M:%L - %m%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${pattern}</pattern>
        </layout>
    </appender>

    <logger name="org.jacorb" level="ERROR"/>
    <logger name="net.sf.ehcache" level="ERROR"/>
    <logger name="org.tango" level="DEBUG"/>
    <logger name="hzg.wpn" level="TRACE"/>
    <!-- StatusServer -->
    <logger name="wpn.hdri.ss" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>